In [138]:
# import packages 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import os 
import sys
import seaborn as sns
import scipy as sp
import scipy.stats as stats
from scipy.stats import norm
import xgboost
%matplotlib inline


# import pre-processing modules 
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel 
from sklearn.compose import make_column_selector as selector
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline


# import classifiers
# scale robust
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

# scale sensitive
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC

# import evaluation modules
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import classification_report

In [163]:
test_set = pd.read_csv(r"C:/Users/Yehonatan/PycharmProject/DS/projects/titanic/ignore/test.csv")
train_set = pd.read_csv(r"C:/Users/Yehonatan/PycharmProject/DS/projects/titanic/ignore/train.csv")
df_original = pd.concat([train_set,test_set], axis=0, ignore_index=True )

df_train = (train_set.copy()).rename(columns=str.lower)
df_test = (test_set.copy()).rename(columns=str.lower)

df = (df_original.copy()).rename(columns=str.lower)

In [164]:
# cabin = df[~df['cabin'].isna()]
# cabin_nan =  df[df['cabin'].isna()]
# print('df  cabin nans',df['cabin'].isna().sum())
# pd.set_option('display.max_rows', len(df))
# df
# cabin.sort_values(by=['fare'],ascending=True)
# cabin

In [165]:
cabin = df[~df['cabin'].isna()]
cabin_nan =  df[df['cabin'].isna()]
print('df  cabin nans',df['cabin'].isna().sum())

for t in range(len(cabin['ticket'])):
    for n in range(len(cabin_nan['ticket'])):
        if cabin['ticket'].iloc[t] == cabin_nan['ticket'].iloc[n] :
           
            index = cabin['passengerid'].iloc[t] - 1    
            index_nan = cabin_nan['passengerid'].iloc[n] - 1 
            if index != index_nan:

                # update the value of cabin_nan in the df
                df.at[index_nan,'cabin'] = df.at[index,'cabin']



cabin_nan =  df[df['cabin'].isna()] # update cabin_nan
print('df cabin nans updated',len(cabin_nan))

df  cabin nans 1014
df cabin nans updated 998

In [212]:
# handle single men and single women in seconde and thied class 
s_t_class_cabin = cabin[cabin['pclass'] != 1]
single_temp = s_t_class_cabin[s_t_class_cabin['sibsp'] == 0]
single_cabin = single_temp[single_temp['parch'] == 0]

s_t_class_cabin_male = single_cabin[single_cabin['sex'] == 'male']      # single 2 3 class male
s_t_class_cabin_female = single_cabin[single_cabin['sex'] == 'female'] # single 2 3 class female

s_t_class_cabin_nan = cabin_nan[cabin_nan['pclass'] != 1]
single_temp = s_t_class_cabin_nan[s_t_class_cabin_nan['sibsp'] == 0]
single_cabin_nan = single_temp[single_temp['parch'] == 0]

s_t_class_cabin_nan_male = single_cabin_nan[single_cabin_nan['sex'] == 'male']
s_t_class_cabin_nan_female = single_cabin_nan[single_cabin_nan['sex'] == 'female']

# deal with female 

for t in range(len(s_t_class_cabin_female)):
    for n in range(len(s_t_class_cabin_nan_female)):
        if s_t_class_cabin_female['fare'].iloc[t] == s_t_class_cabin_nan_female['fare'].iloc[n] :
           
            index = s_t_class_cabin_female['passengerid'].iloc[t] - 1    
            index_nan = s_t_class_cabin_nan_female['passengerid'].iloc[n] - 1 
            if index != index_nan:

                # update the value of cabin_nan in the df
                df.at[index_nan,'cabin'] = df.at[index,'cabin']

cabin_nan =  df[df['cabin'].isna()] # update cabin_nan

# deal with male 

for t in range(len(s_t_class_cabin_female)):
    for n in range(len(s_t_class_cabin_nan_female)):
        if s_t_class_cabin_female['fare'].iloc[t] == s_t_class_cabin_nan_female['fare'].iloc[n] :
           
            index = s_t_class_cabin_female['passengerid'].iloc[t] - 1    
            index_nan = s_t_class_cabin_nan_female['passengerid'].iloc[n] - 1 
            if index != index_nan:

                # update the value of cabin_nan in the df
                df.at[index_nan,'cabin'] = df.at[index,'cabin']

cabin_nan =  df[df['cabin'].isna()] # update cabin_nan

In [213]:
print('df cabin nans updated',len(cabin_nan))

df cabin nans updated 981

In [217]:
s_t_class_cabin_male.sort_values(by=['fare'],ascending=True)

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
1179,1180,NaN,3,"Mardirosian, Mr. Sarkis",male,NaN,0,0,2655,7.2292,F E46,C
1212,1213,NaN,3,"Krekorian, Mr. Neshan",male,25.0,0,0,2654,7.2292,F E57,C
75,76,0.0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
699,700,0.0,3,"Humblen, Mr. Adolf Mathias Nicolai Olsen",male,42.0,0,0,348121,7.6500,F G63,S
715,716,0.0,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,19.0,0,0,348124,7.6500,F G73,S
948,949,NaN,3,"Abelseth, Mr. Olaus Jorgensen",male,25.0,0,0,348122,7.6500,F G63,S
776,777,0.0,3,"Tobin, Mr. Roger",male,NaN,0,0,383121,7.7500,F38,Q
429,430,1.0,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.0,0,0,SOTON/O.Q. 392078,8.0500,E10,S
292,293,0.0,2,"Levy, Mr. Rene Jacques",male,36.0,0,0,SC/Paris 2163,12.8750,D,C
21,22,1.0,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
1000,1001,NaN,2,"Swane, Mr. George",male,18.5,0,0,248734,13.0000,F,S
1213,1214,NaN,2,"Nesson, Mr. Israel",male,26.0,0,0,244368,13.0000,F2,S
1296,1297,NaN,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
1192,1193,NaN,2,"Malachard, Mr. Noel",male,NaN,0,0,237735,15.0458,D,C

In [215]:
s_t_class_cabin_nan_male.sort_values(by=['fare'],ascending=True)

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
732,733,0.0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0000,NaN,S
179,180,0.0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0000,NaN,S
597,598,0.0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0000,NaN,S
271,272,1.0,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0000,NaN,S
277,278,0.0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0000,NaN,S
302,303,0.0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0000,NaN,S
481,482,0.0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S
413,414,0.0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S
466,467,0.0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0000,NaN,S
674,675,0.0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0000,NaN,S
378,379,0.0,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,NaN,C
326,327,0.0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S
1007,1008,NaN,3,"Thomas, Mr. John",male,NaN,0,0,2681,6.4375,NaN,C
843,844,0.0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C
818,819,0.0,3,"Holm, Mr. John Fredrik Alexander",male,43.0,0,0,C 7075,6.4500,NaN,S
202,203,0.0,3,"Johanson, Mr. Jakob Alfred",male,34.0,0,0,3101264,6.4958,NaN,S
143,144,0.0,3,"Burke, Mr. Jeremiah",male,19.0,0,0,365222,6.7500,NaN,Q
411,412,0.0,3,"Hart, Mr. Henry",male,NaN,0,0,394140,6.8583,NaN,Q
825,826,0.0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q
129,130,0.0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.9750,NaN,S
804,805,1.0,3,"Hedman, Mr. Oskar Arvid",male,27.0,0,0,347089,6.9750,NaN,S
1054,1055,NaN,3,"Pearce, Mr. Ernest",male,NaN,0,0,343271,7.0000,NaN,S
884,885,0.0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
784,785,0.0,3,"Ali, Mr. William",male,25.0,0,0,SOTON/O.Q. 3101312,7.0500,NaN,S
363,364,0.0,3,"Asim, Mr. Adola",male,35.0,0,0,SOTON/O.Q. 3101310,7.0500,NaN,S
1102,1103,NaN,3,"Finoli, Mr. Luigi",male,NaN,0,0,SOTON/O.Q. 3101308,7.0500,NaN,S
131,132,0.0,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
210,211,0.0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
611,612,0.0,3,"Jardin, Mr. Jose Neto",male,NaN,0,0,SOTON/O.Q. 3101305,7.0500,NaN,S
465,466,0.0,3,"Goncalves, Mr. Manuel Estanslas",male,38.0,0,0,SOTON/O.Q. 3101306,7.0500,NaN,S
1216,1217,NaN,3,"Assam, Mr. Ali",male,23.0,0,0,SOTON/O.Q. 3101309,7.0500,NaN,S
631,632,0.0,3,"Lundahl, Mr. Johan Svensson",male,51.0,0,0,347743,7.0542,NaN,S
433,434,0.0,3,"Kallio, Mr. Nikolai Erland",male,17.0,0,0,STON/O 2. 3101274,7.1250,NaN,S
761,762,0.0,3,"Nirva, Mr. Iisakki Antino Aijo",male,41.0,0,0,SOTON/O2 3101272,7.1250,NaN,S
590,591,0.0,3,"Rintamaki, Mr. Matti",male,35.0,0,0,STON/O 2. 3101273,7.1250,NaN,S
243,244,0.0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.0,0,0,STON/O 2. 3101275,7.1250,NaN,S
127,128,1.0,3,"Madsen, Mr. Fridtjof Arne",male,24.0,0,0,C 17369,7.1417,NaN,S
1128,1129,NaN,3,"Baccos, Mr. Raffull",male,20.0,0,0,2679,7.2250,NaN,C
203,204,0.0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,NaN,C
522,523,0.0,3,"Lahoud, Mr. Sarkis",male,NaN,0,0,2624,7.2250,NaN,C
598,599,0.0,3,"Boulos, Mr. Hanna",male,NaN,0,0,2664,7.2250,NaN,C
1165,1166,NaN,3,"Saade, Mr. Jean Nassr",male,NaN,0,0,2676,7.2250,NaN,C
908,909,NaN,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
661,662,0.0,3,"Badt, Mr. Mohamed",male,40.0,0,0,2623,7.2250,NaN,C
693,694,0.0,3,"Saad, Mr. Khalil",male,25.0,0,0,2672,7.2250,NaN,C
26,27,0.0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
1223,1224,NaN,3,"Thomas, Mr. Tannous",male,NaN,0,0,2684,7.2250,NaN,C
553,554,1.0,3,"Leeni, Mr. Fahim (""Philip Zenni"")",male,22.0,0,0,2620,7.2250,NaN,C
773,774,0.0,3,"Elias, Mr. Dibo",male,NaN,0,0,2674,7.2250,NaN,C
1202,1203,NaN,3,"Vartanian, Mr. David",male,22.0,0,0,2658,7.2250,NaN,C
244,245,0.0,3,"Attalah, Mr. Sleiman",male,30.0,0,0,2694,7.2250,NaN,C
1062,1063,NaN,3,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C
354,355,0.0,3,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C
918,919,NaN,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
1027,1028,NaN,3,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C
568,569,0.0,3,"Doharr, Mr. Tannous",male,NaN,0,0,2686,7.2292,NaN,C
296,297,0.0,3,"Hanna, Mr. Mansour",male,23.5,0,0,2693,7.2292,NaN,C
832,833,0.0,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,NaN,C
36,37,1.0,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
859,860,0.0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
531,532,0.0,3,"Toufik, Mr. Nakli",male,NaN,0,0,2641,7.2292,NaN,C
1064,1065,NaN,3,"Torfa, Mr. Assad",male,NaN,0,0,2673,7.2292,NaN,C
57,58,0.0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,NaN,C
60,61,0.0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
926,927,NaN,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.5,0,0,2682,7.2292,NaN,C
1230,1231,NaN,3,"Betros, Master. Seman",male,NaN,0,0,2622,7.2292,NaN,C
762,763,1.0,3,"Barah, Mr. Hanna Assi",male,20.0,0,0,2663,7.2292,NaN,C
1183,1184,NaN,3,"Nasr, Mr. Mustafa",male,NaN,0,0,2652,7.2292,NaN,C
524,525,0.0,3,"Kassem, Mr. Fared",male,NaN,0,0,2700,7.2292,NaN,C
798,799,0.0,3,"Ibrahim Shawah, Mr. Yousseff",male,30.0,0,0,2685,7.2292,NaN,C
94,95,0.0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.2500,NaN,S
785,786,0.0,3,"Harmer, Mr. Abraham (David Lishin)",male,25.0,0,0,374887,7.2500,NaN,S
470,471,0.0,3,"Keefe, Mr. Arthur",male,NaN,0,0,323592,7.2500,NaN,S
1177,1178,NaN,3,"Franklin, Mr. Charles (Charles Fardon)",male,NaN,0,0,SOTON/O.Q. 3101314,7.2500,NaN,S
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
320,321,0.0,3,"Dennis, Mr. Samuel",male,22.0,0,0,A/5 21172,7.2500,NaN,S
592,593,0.0,3,"Elsbury, Mr. William James",male,47.0,0,0,A/5 3902,7.2500,NaN,S
227,228,0.0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.2500,NaN,S
1176,1177,NaN,3,"Dennis, Mr. William",male,36.0,0,0,A/5 21175,7.2500,NaN,S
365,366,0.0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.0,0,0,C 7076,7.2500,NaN,S
1287,1288,NaN,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
425,426,0.0,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S
1014,1015,NaN,3,"Carver, Mr. Alfred John",male,28.0,0,0,392095,7.2500,NaN,S
212,213,0.0,3,"Perkin, Mr. John Henry",male,22.0,0,0,A/5 21174,7.2500,NaN,S
250,251,0.0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
491,492,0.0,3,"Windelov, Mr. Einar",male,21.0,0,0,SOTON/OQ 3101317,7.2500,NaN,S
154,155,0.0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
514,515,0.0,3,"Coleff, Mr. Satio",male,24.0,0,0,349209,7.4958,NaN,S
663,664,0.0,3,"Coleff, Mr. Peju",male,36.0,0,0,349210,7.4958,NaN,S
478,479,0.0,3,"Karlsson, Mr. Nils August",male,22.0,0,0,350060,7.5208,NaN,S
1061,1062,NaN,3,"Lithman, Mr. Simon",male,NaN,0,0,S.O./P.P. 251,7.5500,NaN,S
845,846,0.0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.5500,NaN,S
1158,1159,NaN,3,"Warren, Mr. Charles William",male,NaN,0,0,C.A. 49867,7.5500,NaN,S
1146,1147,NaN,3,"MacKay, Mr. George William",male,NaN,0,0,C.A. 42795,7.5500,NaN,S
1046,1047,NaN,3,"Duquemin, Mr. Joseph",male,24.0,0,0,S.O./P.P. 752,7.5500,NaN,S
648,649,0.0,3,"Willey, Mr. Edward",male,NaN,0,0,S.O./P.P. 751,7.5500,NaN,S
1203,1204,NaN,3,"Sadowitz, Mr. Harry",male,NaN,0,0,LP 1588,7.5750,NaN,S
1232,1233,NaN,3,"Lundstrom, Mr. Thure Edvin",male,32.0,0,0,350403,7.5792,NaN,S
468,469,0.0,3,"Scanlan, Mr. James",male,NaN,0,0,36209,7.7250,NaN,Q
388,389,0.0,3,"Sadlier, Mr. Matthew",male,NaN,0,0,367655,7.7292,NaN,Q
1290,1291,NaN,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
629,630,0.0,3,"O'Connell, Mr. Patrick D",male,NaN,0,0,334912,7.7333,NaN,Q
421,422,0.0,3,"Charters, Mr. David",male,21.0,0,0,A/5. 13032,7.7333,NaN,Q
778,779,0.0,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q
703,704,0.0,3,"Gallagher, Mr. Martin",male,25.0,0,0,36864,7.7417,NaN,Q
749,750,0.0,3,"Connaghton, Mr. Michael",male,31.0,0,0,335097,7.7500,NaN,Q
1015,1016,NaN,3,"Kennedy, Mr. John",male,NaN,0,0,368783,7.7500,NaN,Q
406,407,0.0,3,"Widegren, Mr. Carl/Charles Peter",male,51.0,0,0,347064,7.7500,NaN,S
428,429,0.0,3,"Flynn, Mr. James",male,NaN,0,0,364851,7.7500,NaN,Q
510,511,1.0,3,"Daly, Mr. Eugene Patrick",male,29.0,0,0,382651,7.7500,NaN,Q
993,994,NaN,3,"Foley, Mr. William",male,NaN,0,0,365235,7.7500,NaN,Q
890,891,0.0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
998,999,NaN,3,"Ryan, Mr. Edward",male,NaN,0,0,383162,7.7500,NaN,Q
938,939,NaN,3,"Shaughnessy, Mr. Patrick",male,NaN,0,0,370374,7.7500,NaN,Q
459,460,0.0,3,"O'Connor, Mr. Maurice",male,NaN,0,0,371060,7.7500,NaN,Q
1279,1280,NaN,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
775,776,0.0,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.0,0,0,347078,7.7500,NaN,S
116,117,0.0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
126,127,0.0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
790,791,0.0,3,"Keane, Mr. Andrew ""Andy""",male,NaN,0,0,12460,7.7500,NaN,Q
1249,1250,NaN,3,"O'Keefe, Mr. Patrick",male,NaN,0,0,368402,7.7500,NaN,Q
1162,1163,NaN,3,"Fox, Mr. Patrick",male,NaN,0,0,368573,7.7500,NaN,Q
525,526,0.0,3,"Farrell, Mr. James",male,40.5,0,0,367232,7.7500,NaN,Q
1147,1148,NaN,3,"Mahon, Mr. John",male,NaN,0,0,AQ/4 3130,7.7500,NaN,Q
196,197,0.0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
613,614,0.0,3,"Horgan, Mr. John",male,NaN,0,0,370377,7.7500,NaN,Q
953,954,NaN,3,"Bjorklund, Mr. Ernst Herbert",male,18.0,0,0,347090,7.7500,NaN,S
1271,1272,NaN,3,"O'Connor, Mr. Patrick",male,NaN,0,0,366713,7.7500,NaN,Q
1074,1075,NaN,3,"Lane, Mr. Patrick",male,NaN,0,0,7935,7.7500,NaN,Q
560,561,0.0,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q
280,281,0.0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
260,261,0.0,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q
828,829,1.0,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q
994,995,NaN,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.0,0,0,347070,7.7750,NaN,S
1211,1212,NaN,3,"Andersson, Mr. Johan Samuel",male,26.0,0,0,347075,7.7750,NaN,S
982,983,NaN,3,"Pedersen, Mr. Olaf",male,NaN,0,0,345498,7.7750,NaN,S
379,380,0.0,3,"Gustafsson, Mr. Karl Gideon",male,19.0,0,0,347069,7.7750,NaN,S
107,108,1.0,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
675,676,0.0,3,"Edvardsson, Mr. Gustaf Hjalmar",male,18.0,0,0,349912,7.7750,NaN,S
1191,1192,NaN,3,"Olsson, Mr. Oscar Wilhelm",male,32.0,0,0,347079,7.7750,NaN,S
719,720,0.0,3,"Johnson, Mr. Malkolm Joackim",male,33.0,0,0,347062,7.7750,NaN,S
1277,1278,NaN,3,"Aronsson, Mr. Ernst Axel Algot",male,24.0,0,0,349911,7.7750,NaN,S
851,852,0.0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
231,232,0.0,3,"Larsson, Mr. Bengt Edvin",male,29.0,0,0,347067,7.7750,NaN,S
1289,1290,NaN,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
805,806,0.0,3,"Johansson, Mr. Karl Johan",male,31.0,0,0,347063,7.7750,NaN,S
408,409,0.0,3,"Birkeland, Mr. Hans Martin Monsen",male,21.0,0,0,312992,7.7750,NaN,S
162,163,0.0,3,"Bengtsson, Mr. John Viktor",male,26.0,0,0,347068,7.7750,NaN,S
1150,1151,NaN,3,"Midtsjo, Mr. Karl Albert",male,21.0,0,0,345501,7.7750,NaN,S
667,668,0.0,3,"Rommetvedt, Mr. Knud Paust",male,NaN,0,0,312993,7.7750,NaN,S
764,765,0.0,3,"Eklund, Mr. Hans Linus",male,16.0,0,0,347074,7.7750,NaN,S
499,500,0.0,3,"Svensson, Mr. Olof",male,24.0,0,0,350035,7.7958,NaN,S
688,689,0.0,3,"Fischer, Mr. Eberhard Thelander",male,18.0,0,0,350036,7.7958,NaN,S
756,757,0.0,3,"Carlsson, Mr. August Sigfrid",male,28.0,0,0,350042,7.7958,NaN,S
391,392,1.0,3,"Jansson, Mr. Carl Olof",male,21.0,0,0,350034,7.7958,NaN,S
146,147,1.0,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,0,0,350043,7.7958,NaN,S
395,396,0.0,3,"Johansson, Mr. Erik",male,22.0,0,0,350052,7.7958,NaN,S
1114,1115,NaN,3,"Karlsson, Mr. Einar Gervasius",male,21.0,0,0,350053,7.7958,NaN,S
1117,1118,NaN,3,"Asplund, Mr. Johan Charles",male,23.0,0,0,350054,7.7958,NaN,S
1017,1018,NaN,3,"Brobeck, Mr. Karl Rudolf",male,22.0,0,0,350045,7.7958,NaN,S
986,987,NaN,3,"Tenglin, Mr. Gunnar Isidor",male,25.0,0,0,350033,7.7958,NaN,S
51,52,0.0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.8000,NaN,S
997,998,NaN,3,"Buckley, Mr. Daniel",male,21.0,0,0,330920,7.8208,NaN,Q
552,553,0.0,3,"O'Brien, Mr. Timothy",male,NaN,0,0,330979,7.8292,NaN,Q
891,892,NaN,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
933,934,NaN,3,"Goldsmith, Mr. Nathan",male,41.0,0,0,SOTON/O.Q. 3101263,7.8500,NaN,S
1126,1127,NaN,3,"Vendel, Mr. Olof Edvin",male,20.0,0,0,350416,7.8542,NaN,S
623,624,0.0,3,"Hansen, Mr. Henry Damsgaard",male,21.0,0,0,350029,7.8542,NaN,S
1152,1153,NaN,3,"Nilsson, Mr. August Ferdinand",male,21.0,0,0,350410,7.8542,NaN,S
1026,1027,NaN,3,"Carlsson, Mr. Carl Robert",male,24.0,0,0,350409,7.8542,NaN,S
569,570,1.0,3,"Jonsson, Mr. Carl",male,32.0,0,0,350417,7.8542,NaN,S
833,834,0.0,3,"Augustsson, Mr. Albert",male,23.0,0,0,347468,7.8542,NaN,S
1190,1191,NaN,3,"Johansson, Mr. Nils",male,29.0,0,0,347467,7.8542,NaN,S
640,641,0.0,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
1086,1087,NaN,3,"Karlsson, Mr. Julius Konrad Eugen",male,33.0,0,0,347465,7.8542,NaN,S
281,282,0.0,3,"Olsson, Mr. Nils Johan Goransson",male,28.0,0,0,347464,7.8542,NaN,S
1209,1210,NaN,3,"Jonsson, Mr. Nils Hilding",male,27.0,0,0,350408,7.8542,NaN,S
771,772,0.0,3,"Jensen, Mr. Niels Peder",male,48.0,0,0,350047,7.8542,NaN,S
91,92,0.0,3,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.8542,NaN,S
422,423,0.0,3,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S
1248,1249,NaN,3,"Lockyer, Mr. Edward",male,NaN,0,0,1222,7.8792,NaN,S
1124,1125,NaN,3,"Linehan, Mr. Michael",male,NaN,0,0,330971,7.8792,NaN,Q
1272,1273,NaN,3,"Foley, Mr. Joseph",male,26.0,0,0,330910,7.8792,NaN,Q
810,811,0.0,3,"Alexander, Mr. William",male,26.0,0,0,3474,7.8875,NaN,S
1134,1135,NaN,3,"Hyman, Mr. Abraham",male,NaN,0,0,3470,7.8875,NaN,S
223,224,0.0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
601,602,0.0,3,"Slabenoff, Mr. Petco",male,NaN,0,0,349214,7.8958,NaN,S
606,607,0.0,3,"Karaic, Mr. Milan",male,30.0,0,0,349246,7.8958,NaN,S
739,740,0.0,3,"Nankoff, Mr. Minko",male,NaN,0,0,349218,7.8958,NaN,S
29,30,0.0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
753,754,0.0,3,"Jonkoff, Mr. Lalio",male,23.0,0,0,349204,7.8958,NaN,S
42,43,0.0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
108,109,0.0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,NaN,S
105,106,0.0,3,"Mionoff, Mr. Stoytcho",male,28.0,0,0,349207,7.8958,NaN,S
1225,1226,NaN,3,"Cor, Mr. Ivan",male,27.0,0,0,349229,7.8958,NaN,S
189,190,0.0,3,"Turcin, Mr. Stjepan",male,36.0,0,0,349247,7.8958,NaN,S
646,647,0.0,3,"Cor, Mr. Liudevit",male,19.0,0,0,349231,7.8958,NaN,S
650,651,0.0,3,"Mitkoff, Mr. Mito",male,NaN,0,0,349221,7.8958,NaN,S
656,657,0.0,3,"Radeff, Mr. Alexander",male,NaN,0,0,349223,7.8958,NaN,S
794,795,0.0,3,"Dantcheff, Mr. Ristiu",male,25.0,0,0,349203,7.8958,NaN,S
1156,1157,NaN,3,"Lyntakoff, Mr. Stanko",male,NaN,0,0,349235,7.8958,NaN,S
1100,1101,NaN,3,"Delalic, Mr. Redjo",male,25.0,0,0,349250,7.8958,NaN,S
1186,1187,NaN,3,"Angheloff, Mr. Minko",male,26.0,0,0,349202,7.8958,NaN,S
130,131,0.0,3,"Drazenoic, Mr. Jozef",male,33.0,0,0,349241,7.8958,NaN,C
101,102,0.0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
628,629,0.0,3,"Bostandyeff, Mr. Guentcho",male,26.0,0,0,349224,7.8958,NaN,S
76,77,0.0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
962,963,NaN,3,"Minkoff, Mr. Lazar",male,21.0,0,0,349211,7.8958,NaN,S
1042,1043,NaN,3,"Matinoff, Mr. Nicola",male,NaN,0,0,349255,7.8958,NaN,C
521,522,0.0,3,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,NaN,S
455,456,1.0,3,"Jalsevac, Mr. Ivan",male,29.0,0,0,349240,7.8958,NaN,C
335,336,0.0,3,"Denkoff, Mr. Mitto",male,NaN,0,0,349225,7.8958,NaN,S
881,882,0.0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
321,322,0.0,3,"Danoff, Mr. Yoto",male,27.0,0,0,349219,7.8958,NaN,S
878,879,0.0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
410,411,0.0,3,"Sdycoff, Mr. Todor",male,NaN,0,0,349222,7.8958,NaN,S
877,878,0.0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
870,871,0.0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
974,975,NaN,3,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S
384,385,0.0,3,"Plotcharsky, Mr. Vasil",male,NaN,0,0,349227,7.8958,NaN,S
420,421,0.0,3,"Gheorgheff, Mr. Stanio",male,NaN,0,0,349254,7.8958,NaN,C
313,314,0.0,3,"Hendekovic, Mr. Ignjac",male,28.0,0,0,349243,7.8958,NaN,S
1025,1026,NaN,3,"Dintcheff, Mr. Valtcho",male,43.0,0,0,349226,7.8958,NaN,S
294,295,0.0,3,"Mineff, Mr. Ivan",male,24.0,0,0,349233,7.8958,NaN,S
566,567,0.0,3,"Stoytcheff, Mr. Ilia",male,19.0,0,0,349205,7.8958,NaN,S
738,739,0.0,3,"Ivanoff, Mr. Kanio",male,NaN,0,0,349201,7.8958,NaN,S
847,848,0.0,3,"Markoff, Mr. Marin",male,35.0,0,0,349213,7.8958,NaN,C
287,288,0.0,3,"Naidenoff, Mr. Penko",male,22.0,0,0,349206,7.8958,NaN,S
947,948,NaN,3,"Cor, Mr. Bartol",male,35.0,0,0,349230,7.8958,NaN,S
901,902,NaN,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
951,952,NaN,3,"Dika, Mr. Mirko",male,17.0,0,0,349232,7.8958,NaN,S
561,562,0.0,3,"Sivic, Mr. Husein",male,40.0,0,0,349251,7.8958,NaN,S
519,520,0.0,3,"Pavlovic, Mr. Stefo",male,32.0,0,0,349242,7.8958,NaN,S
115,116,0.0,3,"Pekoniemi, Mr. Edvard",male,21.0,0,0,STON/O 2. 3101294,7.9250,NaN,S
382,383,0.0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
988,989,NaN,3,"Makinen, Mr. Kalle Edvard",male,29.0,0,0,STON/O 2. 3101268,7.9250,NaN,S
400,401,1.0,3,"Niskanen, Mr. Juha",male,39.0,0,0,STON/O 2. 3101289,7.9250,NaN,S
936,937,NaN,3,"Peltomaki, Mr. Nikolai Johannes",male,25.0,0,0,STON/O 2. 3101291,7.9250,NaN,S
414,415,1.0,3,"Sundman, Mr. Johan Julian",male,44.0,0,0,STON/O 2. 3101269,7.9250,NaN,S
173,174,0.0,3,"Sivola, Mr. Antti Wilhelm",male,21.0,0,0,STON/O 2. 3101280,7.9250,NaN,S
636,637,0.0,3,"Leinonen, Mr. Antti Gustaf",male,32.0,0,0,STON/O 2. 3101292,7.9250,NaN,S
1142,1143,NaN,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.0,0,0,SOTON/O2 3101284,7.9250,NaN,S
579,580,1.0,3,"Jussila, Mr. Eiriik",male,32.0,0,0,STON/O 2. 3101286,7.9250,NaN,S
840,841,0.0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S
744,745,1.0,3,"Stranden, Mr. Juho",male,31.0,0,0,STON/O 2. 3101288,7.9250,NaN,S
528,529,0.0,3,"Salonen, Mr. Johan Werner",male,39.0,0,0,3101296,7.9250,NaN,S
967,968,NaN,3,"Miles, Mr. Frank",male,NaN,0,0,359306,8.0500,NaN,S
984,985,NaN,3,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
758,759,0.0,3,"Theobald, Mr. Thomas Leonard",male,34.0,0,0,363294,8.0500,NaN,S
1020,1021,NaN,3,"Petersen, Mr. Marius",male,24.0,0,0,342441,8.0500,NaN,S
1180,1181,NaN,3,"Ford, Mr. Arthur",male,NaN,0,0,A/5 1478,8.0500,NaN,S
1148,1149,NaN,3,"Niklasson, Mr. Samuel",male,28.0,0,0,363611,8.0500,NaN,S
1021,1022,NaN,3,"Spinner, Mr. Henry John",male,32.0,0,0,STON/OQ. 369943,8.0500,NaN,S
814,815,0.0,3,"Tomlin, Mr. Ernest Portage",male,30.5,0,0,364499,8.0500,NaN,S
1038,1039,NaN,3,"Davies, Mr. Evan",male,22.0,0,0,SC/A4 23568,8.0500,NaN,S
1112,1113,NaN,3,"Reynolds, Mr. Harold J",male,21.0,0,0,342684,8.0500,NaN,S
837,838,0.0,3,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,NaN,S
1110,1111,NaN,3,"Thomson, Mr. Alexander Morrison",male,NaN,0,0,32302,8.0500,NaN,S
990,991,NaN,3,"Nancarrow, Mr. William Henry",male,33.0,0,0,A./5. 3338,8.0500,NaN,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
511,512,0.0,3,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S
304,305,0.0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
95,96,0.0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
668,669,0.0,3,"Cook, Mr. Jacob",male,43.0,0,0,A/5 3536,8.0500,NaN,S
90,91,0.0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.0500,NaN,S
563,564,0.0,3,"Simmons, Mr. John",male,NaN,0,0,SOTON/OQ 392082,8.0500,NaN,S

In [195]:
ticket = df[df['ticket']=='C.A. 34260']
ticket

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
516,517,1.0,2,"Lemore, Mrs. (Amelia Milley)",female,34.0,0,0,C.A. 34260,10.5,F33,S

In [196]:
fare = cabin[cabin['fare']== 10.5000]
fare.sort_values(by=['ticket'],ascending=False)

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
1113,1114,NaN,2,"Cook, Mrs. (Selena Rogers)",female,22.0,0,0,W./C. 14266,10.5,F33,S
772,773,0.0,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5,E77,S
516,517,1.0,2,"Lemore, Mrs. (Amelia Milley)",female,34.0,0,0,C.A. 34260,10.5,F33,S
66,67,1.0,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.5,F33,S
717,718,1.0,2,"Troutt, Miss. Edwina Celia ""Winnie""",female,27.0,0,0,34218,10.5,E101,S

In [208]:
fare = cabin_nan[cabin_nan['fare']==13.7917]
fare.sort_values(by=['sex'],ascending=True)

Empty DataFrame
Columns: [passengerid, survived, pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked]
Index: []

In [188]:
ticket = cabin_nan[cabin_nan['ticket']=='244368']
ticket

Empty DataFrame
Columns: [passengerid, survived, pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked]
Index: []

In [27]:
#for t in range(len(df['ticket'])):
 #   print(df['ticket'].iloc[t])

In [ ]:
# parse cabin

In [ ]:
# need to check fare price and cabin .
# single man were staying at the front and single women and families at the back 2 3 class 
# the ship sank at night so the cabins are critical 
# can divide into